body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    font-family: 'Pretendard Std Variable';
    font-size: 15px;
    font-weight: 400;

    color: #fff;
}

main h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

main p {
    font-size: 1.5rem;
    font-weight: 400;
}