main {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 50px;
}

header#welcome-title {
    color: var(--index-welcome-title-color);

    font-family: 'Pretendard Std Variable';
    font-size: 3.5vw;
}

a.button {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 5px;

    padding: 5px 10px;

    background-color: var(--a-button-background-color);
    text-decoration: none;
    font-weight: 400;

    cursor: pointer;

    opacity: 0;
}

a.button img.icon {
    padding: 0;
    margin: 0;
    margin-right: 5px;

    width: 20px;
    height: 20px;
}

a.button.main {
    border: var(--a-main-button-border);
    color: var(--a-main-button-color);
}

a.button.sub {
    border: var(--a-sub-button-border);
    color: var(--a-sub-button-color);
}

a.button.visible {
    opacity: 1;
    transition: 2s;
}

nav.sub-nav {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    gap: 10px;
}