main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header#welcome-title {
    color: var(--index-welcome-title-color);

    font-family: 'Pretendard Std Variable', sans-serif;
    font-size: 3.5vw;
}

a.button {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 5px;

    padding: 5px 10px;

    background-color: var(--a-button-background-color);
    text-align: center;
    text-decoration: none;
    font-weight: 400;

    cursor: pointer;

    opacity: 0;

    animation-play-state: paused;
    animation-name: visibleAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

a.button.visible {
    animation-play-state: running;
}

a.button img.icon {
    padding: 0;
    margin: 0;
    margin-right: 5px;

    width: 20px;
    height: 20px;
}

a.button.main {
    border: var(--a-main-button-border);
    color: var(--a-button-color);
    transition: var(--a-button-hover-transition-speed);
}

a.button.main:hover {
    background-color: var(--a-main-button-border-color);
    color: var(--a-button-background-color);
    transition: var(--a-button-hover-transition-speed);
}

a.button.sub {
    border: var(--a-sub-button-border);
    color: var(--a-button-color);
    transition: var(--a-button-hover-transition-speed);
}

a.button.sub:hover {
    background-color: var(--a-sub-button-border-color);
    color: var(--a-button-background-color);
    transition: var(--a-button-hover-transition-speed);
}

@keyframes visibleAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav.sub-nav {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    gap: 10px;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;

        justify-content: center;
    }

    main {
        align-items: center;
        padding-left: 0;
    }

    header#welcome-title {
        text-align: center;
        font-size: 6vw;
    }

    a.button {
        font-size: 3.5vw;
    }
}