main {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 50px;
}

header#welcome-title {
    color: var(--index-welcome-title-color);

    font-family: 'Pretendard Std Variable';
    font-size: 2.5rem;
}