.main-nav {
    z-index: 2;

    background-color: var(--nav-container-bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 40px;
    height: 100%;
}

.main-nav .wrapper {
    background-color: var(--nav-bg-color);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes popFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes popFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.main-nav .wrapper a {
    background-color: transparent;

    height: fit-content;
    padding: 0;
    margin: 10px 0;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transform: translateX(-110%);

    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-name: popFromLeft;
    animation-play-state: paused;

    transition: 0.5s;
}

.main-nav .wrapper a[data-title="Home"] {
    animation-delay: var(--nav-animation-initial-delay);
    animation-play-state: running;
}
.main-nav .wrapper a[data-title="About"] {
    animation-delay: calc(var(--nav-animation-initial-delay) + var(--nav-animation-nth-delay));
    animation-play-state: running;
}
.main-nav .wrapper a[data-title="Projects"] {
    animation-delay: calc(var(--nav-animation-initial-delay) + (var(--nav-animation-nth-delay) * 2));
    animation-play-state: running;
}
.main-nav .wrapper a[data-title="Contact"] {
    animation-delay: calc(var(--nav-animation-initial-delay) + (var(--nav-animation-nth-delay) * 3));
    animation-play-state: running;
}

.main-nav .wrapper a::after {
    opacity: 0;
    transition: 0.2s;

    content: attr(data-title);

    background-color: var(--nav-popup-color);
    color: var(--nav-icon-hover-color);
    font-family: 'Pretendard Std Variable', sans-serif;

    border: none;
    border-radius: 5px;

    padding: 5px 10px;
    
    position: absolute;
    left: 45px;
}

.main-nav .wrapper a:hover::after {
    opacity: 1;
    transition: 0.2s;
}

.main-nav .wrapper a svg {
    width: 80%;
    
    fill: var(--nav-icon-color);

    transition: 0.15s;
}

.main-nav .wrapper a svg:hover {
    fill: var(--nav-icon-hover-color);

    transition: 0.15s;
}

@media (max-width: 500px) {
    body {
        flex-direction: row;
    }

    .main-nav {
        flex-direction: row;

        width: 100%;
        height: fit-content;
    }

    .main-nav .wrapper {
        flex-direction: row;

        justify-content: space-evenly;
    }

    .main-nav .wrapper a {
        transform: translateY(-110%);
        animation-name: popFromTop;
    }

    .main-nav .wrapper a::after {
        left: auto;
        top: 60px;
    }

    main {
        padding: 0 15px;
    }
}