body {
    flex-direction: row;

    height: fit-content;

    font-family: "Pretendard Std Variable", sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
}

img.loading {
    width: 10vw;
    height: 10vw;
}

@keyframes slideToTop {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

section.project-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: 20%;
    width: fit-content;
    max-width: 40%;

    position: sticky;
    top: 50px;

    animation: slideToTop 1s ease-in-out;
}

section.project-navigation ul {
    width: 100%;

    color: #fff;
    
    border: none;
    border-radius: 5px;

    padding: 15px;

    list-style-position: inside;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-weight: 600;
}

section.project-navigation ul li {
    width: 100%;

    list-style-type: circle;

    word-break: keep-all;

    cursor: pointer;
}

section.project-navigation ul li.in-view {
    list-style-type: disc;
}

section.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(60% - 5vw);

    margin: 40px 20px 0;
    padding-right: 20px;
    gap: 35px;

    border-right: 5px solid #aaaaaa;
}

section.projects article:not(.in-view) {
    opacity: 0;

    transition: 1s;
}

section.projects article.in-view {
    opacity: 1;

    transition: 1s;
}

section.projects article {
    color: #cccccc;

    padding-bottom: 25px;
    border-bottom: 3px solid #aaaaaa;
    border-bottom-right-radius: 10px;

    width: 100%;
}

section.projects article div.project-header {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 20px;
}

section.projects article div.project-header h2 {
    font-size: 50px;
}

section.projects article div.project-header h3 {
    font-size: 30px;
}

section.projects article div.project-header p {
    font-size: 20px;
}


@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    section {
        width: 100% !important;
    }

    main {
        flex-direction: column;
    }

    section.projects {
        margin-left: 0;
        border: none;

        padding: 0 10px;

        order: 1;
    }

    section.project-navigation {
        position: relative;
        top: 0;

        order: 0;

        max-width: 100%;
    }
}