:root {
    --background-color: #151515;

    --nav-container-bg-color: var(--background-color);
    --nav-bg-color: #0f0f0f;
    --nav-icon-color: #1f1f1f;
    --nav-icon-hover-color: #00ccff;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);

    display: flex;
    flex-direction: row;

    height: 100%;
}