@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-std-dynamic-subset.css");

:root {
    --background-color: #151515;

    --nav-container-bg-color: var(--background-color);
    --nav-bg-color: #0f0f0f;
    --nav-icon-color: #2f2f2f;
    --nav-icon-hover-color: #00ccff;
    --nav-popup-color: #1f1f1f;

    --index-welcome-title-color: #ffffff;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);

    display: flex;
    flex-direction: row;

    height: 100%;
}