[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.3"
pillow = "==9.3.0"
django-picklefield = "==3.1"
django-constance = {version = "==2.9.1", extras = ["database"]}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
