{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        {% include 'macro/head.html' %}
        <link href="{% static 'app/css/about.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'macro/nav.html' %}
        <main>
            <section class="profile box">
                <article class="imgs">
                    <img src="{% static 'app/img/profile.png' %}" data-alt="rgba(255,255,255,1)" style="--alt-back-color: rgba(50, 50, 50, 1);">
                </article>
                <article class="name">
                    <span>서브 <b>SSerVe</b></span>
                </article>
                <article class="description">
                    <ul>
                        <li>Full-Stack 개발자를 목표로 하고 있는 웹 개발자입니다.</li>
                        <li>현재 고등학교 재학 중입니다.</li>
                        <li>파이썬을 주로 사용하며, 다른 언어도 어느정도 사용할 수 있습니다.</li>
                    </ul>
                </article>
                <article class="links">
                    <a class="sub button" href="https://github.com/sserve-kr">Github Profile</a>
                    <a class="sub button" href="https://blog.sserve.work">SSerVe's Blog</a>
                </article>
            </section>
        </main>
    </body>
</html>