{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        {% include 'macro/head.html' %}
        <link href="{% static 'app/css/contact.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'macro/nav.html' %}
        <header>
            <h1>문의하기</h1>
            <div><span>개인적인 문의사항, </span> <span>프로그래밍 관련 질문, </span> <span>웹사이트 외주까지.</span></div>
        </header>
        <main>
            <form action="{% url 'app:contact' %}" method="POST">
                {% csrf_token %}
                <div class="form-input-group">
                    {{ form.as_div }}
                </div>
                <div class="form-submit-group">
                    <button type="submit">전송</button>
                </div>
            </form>
        </main>
    </body>
</html>