{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        {% include 'macro/head.html' %}
        <link href="{% static 'app/css/projects.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'macro/nav.html' %}
        <main>
            <section class="projects">
                <img class="loading" src="{% static 'app/img/loading-gif.gif' %}" alt="loading...">
            </section>
            <script src="{% static 'app/js/projects.js' %}"></script>
            <script>
                const pm = new ProjectManager();
            </script>
            <section class="project-navigation">
                <ul>
                </ul>
            </section>
        </main>
    </body>
</html>